
ul{
    list-style-type: none;
}


.Class_List{
    margin-top: 24px;
    margin-left: 100px;
}
.Class_List h4{
    font-size: larger;
    width: 60%;
    border-bottom: 1px solid #84A98C;
    margin-bottom: 8px;

}
.Class_List ul{
    margin-left: 16px;
}
.Class_List ul >li:first-child{
    border-top: none !important;
}
img{
    width: 45px;
    height: 45px;
    padding: 4px;
    margin-right: 12px;
    vertical-align: middle;
    
}

.Class_List ul li {
    border-top: 1px solid #CAD2C5;
    width: 40%;
}

