*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-bo;
}
 a{
    text-decoration: none;
} 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
	font-family: 'jujutsu';
	src: url('../../assets/fonts/Jujutsu\ Kaisen.ttf');
}


header {
	background-color: #2f3e46;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px 10%;
}

.logo {
	font-size: 32px;
	letter-spacing: 2px;
	-webkit-text-stroke: 1px #d6cd81;
	color: white;
	font-family: 'jujutsu', sans-serif;
}

.nav__links {
	list-style: none;
}

.nav__links li {
	display: inline-block;
	padding: 0px 20px;
}

.nav__links li a {
	transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
	color: #84a98c;
}

.nav__active {
  color: #84a98c !important;
  border-bottom: 3px solid #84a98c;
  padding-bottom: 12px;
  pointer-events: none;
}

.nav__btn {
	padding: 9px 25px;
	background-color: rgba(0, 136, 169, 1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

.nav__btn:hover {
	background-color: #84a98c;
}

.nav__li,
.nav__a,
.nav__btn {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #edf0f1;
	text-decoration: none;
	background-color: #ffffff00;
}

#colorModeIcon {
	min-width: 24px;
}
.content-classes{
  margin-top: 20px;
  margin-left: 24px;
  padding-left: 8px;
  margin-right: 24px;
  height: 37px;
  border-bottom: 1px solid #84a98c;
}


.addtion-btn{
    display: inline-block;
    position: absolute;
    top:90px ;
    right: 40px;
    background-color: #52796F ;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    color: white;
    border: none;
}

.secNav{
  width: calc(100%/2);
  display: inline-block;

}

.secNav a{
  text-decoration: none;
  color: black;
  margin-left:10px;
  margin-right: 10px;
  font-size: 20px;
  font-size: bold;
}
.secNav a:hover{
  color: #84a98c;
} 

h1{
    display: inline-block;
    color: #eeeeee91;
}

.ann-txt2{
    font-family: 'Montserrat', sans-serif;
    margin: 10px 10px 10px 12.5%;
    width: 75%;
    height: auto;
    border: solid 1px black;
    border-radius: 10px;
    color: black;
    display: inline-block;
    box-shadow: 5px 5px 10px 6px #00000030;
    padding: 15px;
}

img{
    border-radius: 50%;
    height: 60px;
}

.username{
    display: inline-block;
    font-size: 30px;
    color: black;
    position: relative;
    left: 5px;
    bottom: 15px;
    font-family: 'Montserrat', sans-serif;
}

#date{
  display: inline-block;
}
.username a{
    color: black;
}

#ann-content{
  padding: 10px;
    display: inline-block;
}

.edit-btn{
    width: 90px;
    background-color:#52796F;
    color: white;
    height: 30px;
    margin-left: calc(45% - 90px);
    border-radius: 50px;
    border: none;
    font-size: 20px;
}

.delete-btn{
    width: 90px;
    background-color: #52796F;
    color: white;
    height: 30px;
    margin-left: 10%;
    border-radius: 50px;
    border: none;
    font-size: 20px;
}

/* .Submit,
.Decline, */
.delete-btn:hover{
    cursor: pointer;
    background-color: #84a98c;
}
.edit-btn:hover{
    cursor: pointer;
    background-color: #84a98c;
}


.assi-txt a:hover{
    color:#84a98c ;
}

.addtion-btn:hover{
  cursor: pointer;
  background-color: #84a98c;
  border:none; 
}

.active{
  filter: blur(15px);
}
h2 {
    text-align: center;
    color: #52796F;
  }
  
  #Container {
    border: solid 1px black;
    border-radius: 20px;
    background-color: white;
    display: none;
    position: absolute;
    top: calc((100%/2) - 250px);
    margin-left: calc((100%/2) - 400px);
    width: 800px;
    height: 500px;
    padding: 20px;
  }
  
  #Title {
    width: 760px;
    height: 30px;
    margin-bottom: 40px;
    margin-top: 30px;
    padding:5px;
    border-style: none;
    border-bottom: solid;
    background-color: #F8F9FA;
    margin-left: auto;
    margin-right: auto;
    resize: none;
    overflow-y: hidden;
  }
  
  #Title:focus {
    outline: none;
    border-bottom: solid 3px #52796F;
    filter: brightness(95%);
    transition-duration: 0.5s;
  }
  
  #Title:hover {
    outline: none;
    border-bottom: solid 3px #52796F;
    filter: brightness(95%);
    transition-duration: 0.5s;
  }
  
  #Content2 {
    width: 760px;
    height: 30px;
    margin-bottom: 20px;
    padding:5px;
    border-style: none;
    border-bottom: solid;
    background-color: #F8F9FA;
    margin-left: auto;
    margin-right: auto;
    resize: none;
    overflow-y: hidden;
  }
  
  #Content2:focus{
    outline: none;
    border-bottom: solid 3px #52796F;
    filter: brightness(95%);
    transition-duration: 0.5s;
  }
  
  #Content2:hover {
    outline: none;
    border-bottom: solid 3px #52796F;
    filter: brightness(95%);
    transition-duration: 0.5s;
}

label {
    position: absolute;
    top: 84px;
    left: 24px;
    display: flex;
    align-items: center;
}

#label2 {
    position: absolute;
    top: 175px;
    left: 24px;
    display: flex;
    align-items: center;
}


.Focusing + #label1{
    top: 60px;
    transition-duration: 0.5s;
    font-size: smaller;
    font-weight: 1px;
    color: #52796F;
  }
  
  .Focusing2 {
    height: 200px !important;
    transition-duration: 0.5s;
    background-color: #F8F9FA !important;
  }
  
  .Focusing2 + #label2 {
    top: 132px;
    transition-duration: 0.5s;
    font-size: smaller;
    font-weight: 1px;
    color: #52796F;
  }
  
  h4 {
    text-align: center;
    color: #354f52;
    margin-top: -10px;
  }
  
  #Date {
    display: block;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
  }
  ::-webkit-calendar-picker-indicator{
    background-color:#CAD2C5;
    padding: 5px;
    cursor: pointer;
  }
  
  .Buttons {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    margin-top: 30px;
    gap: 10px;
  }
  
  #Accept {
    border: solid;
    background-color:#52796F;
    color: white;
    border-radius : 50px;
    font-size: 20px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    transition-duration: 0.5s;
  }
  
  #Accept:hover {
    background-color: #CAD2C5;
    transition-duration: 0.5s;
  }
  
  #Decline {
    border: solid;
    background-color: #52796F;
    color: white;
    border-radius: 50px;
    font-size: 20px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    transition-duration: 0.5s;
  }
  
  #Decline:hover {
    background-color: #CAD2C5;
    transition-duration: 0.5s;
  }
  
  .verification {
    color: red;
  }

  .date {
    width: 150px;
    margin-left: 10px;
    margin-top: -5px;
    margin-bottom: 10px;
  }

  .anno-content {
    margin-left: 10px;
    margin-top: -5px;
    margin-bottom: 5px;
  }
  #Container-2 {
    border: solid 1px black;
    border-radius: 20px;
    background-color: white;
    display: none;
    position: absolute;
    top: calc((100%/2) - 250px);
    margin-left: calc((100%/2) - 400px);
    width: 800px;
    height: 500px;
    padding: 20px;
  }
  
  #Title-2 {
    width: 760px;
    height: 30px;
    margin-bottom: 40px;
    margin-top: 30px;
    padding:5px;
    border-style: none;
    border-bottom: solid;
    background-color: #F8F9FA;
    margin-left: auto;
    margin-right: auto;
    resize: none;
    overflow-y: hidden;
  }
  
  #Title-2:focus {
    outline: none;
    border-bottom: solid 3px #52796F;
    filter: brightness(95%);
    transition-duration: 0.5s;
  }
  
  #Title-2:hover {
    outline: none;
    border-bottom: solid 3px #52796F;
    filter: brightness(95%);
    transition-duration: 0.5s;
  }
  
  #Content-edit {
    width: 760px;
    height: 30px;
    margin-bottom: 20px;
    padding:5px;
    border-style: none;
    border-bottom: solid;
    background-color: #F8F9FA;
    margin-left: auto;
    margin-right: auto;
    resize: none;
    overflow-y: hidden;
  }
  
  #Content-edit:focus{
    outline: none;
    border-bottom: solid 3px #52796F;
    filter: brightness(95%);
    transition-duration: 0.5s;
  }
  
#Content-edit:hover {
    outline: none;
    border-bottom: solid 3px #52796F;
    filter: brightness(95%);
    transition-duration: 0.5s;
}

label {
    position: absolute;
    top: 84px;
    left: 24px;
    display: flex;
    align-items: center;
}

#label2-edit {
    position: absolute;
    top: 175px;
    left: 24px;
    display: flex;
    align-items: center;
}


.Focusing + #label1-edit{
    top: 60px;
    transition-duration: 0.5s;
    font-size: smaller;
    font-weight: 1px;
    color: #52796F;
  }
  
  .Focusing2 + #label2-edit {
    top: 132px;
    transition-duration: 0.5s;
    font-size: smaller;
    font-weight: 1px;
    color: #52796F;
  }
  

  #Date-2 {
    display: block;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
  }
  ::-webkit-calendar-picker-indicator{
    background-color:#CAD2C5;
    padding: 5px;
    cursor: pointer;
  }
  
  .Buttons {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    margin-top: 30px;
    gap: 10px;
  }
  
  #Accept-2 {
    border: solid;
    background-color:#52796F;
    color: white;
    border-radius : 50px;
    font-size: 20px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    transition-duration: 0.5s;
  }
  
  #Accept-2:hover {
    background-color: #CAD2C5;
    transition-duration: 0.5s;
  }
  
  #Decline-2 {
    border: solid;
    background-color: #52796F;
    color: white;
    border-radius: 50px;
    font-size: 20px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    transition-duration: 0.5s;
  }
  
#Decline-2:hover {
    background-color: #CAD2C5;
    transition-duration: 0.5s;
  }
  
.verification {
    color: red;
  }
